.postsCardBody {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  padding: 20px;
  min-width: 400px;
  width: 90%;
  min-height: 300px;
  border-radius: 10%;
  border-radius: 15px;
  flex-direction: column;
  background-color: white;
}
.posts {
  padding-bottom: 20px;
  padding-top: 30px;
}
.postsTitle {
  margin-bottom: 50px;
}
.addPostBtnBox {
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(196, 194, 194);
}
