.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 60 px 1fr;
  grid-template-columns: 2fr 10fr;
}
.app-wrapper-content {
  grid-area: c;
  /* background: #b38d97; */
  background: #fcf5c7;
}

.header {
  grid-area: h;
  background: #0e1428;
  min-height: 60px;
  color: #f78764;
  font-size: 2em;
  padding-left: 60px;
}
